extends main-layout

block content
  .inner-top.other-pages.abt
  .sm-container.text-center
    h1.sectxt-color.uppercase
      span.capitalize talent and skills
      |  about us
  // end .top
  // main content
  .max-container.m-mid-breather
    .p-light-bottom-breather.heavy-line-height.p-heavy-side-breather
