mixin internSidebar()
  .light-bx-shadow.m-mid-bottom-breather
    .p-vlight-breather.sec-bg.p-mid-side-breather
      p.headfont.uppercase.no-margin.text-center about me
    .p-mid-side-breather.p-light-breather
      .row.m-mid-bottom-breather
        .col-sm-4.bioimage
          img.img-center.img-circle.img-responsive(src='/img/candidate-placeholder.jpg')
        .col-sm-8.bio-details
          p.headfont.lead.no-margin  Yusuf Rafiu
          p.mid-font-size yusuf_rafiu@gmail.com
          p.mid-font-size.no-margin
            span.txt-bold Mobile:
            | 07037555894
          p.mid-font-size
            span.txt-bold D.O.B: 
            | 19.08.76
    .light-bx-shadow.m-mid-bottom-breather
      .p-vlight-breather.sec-bg.p-mid-side-breather
        p.headfont.uppercase.no-margin.text-center employers that have shortlisted you
      .p-mid-side-breather.p-light-breather
        p You haven&apos;t been shortlisted
