block variables
include ../mixins/_flash-messages
doctype html
head
  title job Connect
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='content-type' content='text/html; charset=utf-8')
  meta(name='description' content='')
  link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
  // favicon
  link(rel='shortcut icon' href='http://talentsandskills.net/favicon.ico')
  link(href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/stylesheets/main.css')
  
  block cssLinks

body
  .white-bg
    .container
      .navbar.navbar-default.navbar-right.navbar-fixed-top
        .container
          .navbar-header
            a.pull-left.logo.block(href='/')
            button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              if account === 'intern'
                li
                  a(href='/intern/dashboard' class= current=='dashboard' ? 'current' : '') dashboard 
                li
                  a(href='/intern/profile' class= current ? 'current' : '') my profile 
                li
                  a(href='') register 
                li
                  a(href='/intern/settings') settings 
                li
                  a(href='')  logout
              
              else if account === 'candidate'
                li
                  a(href='/candidate/dashboard' class= current=='dashboard' ? 'current' : '') dashboard 
                li
                  a(href='/candidate/profile' class= current=='profile' ? 'current' : '') my profile 
                li
                  a(href='')  search jobs 
                li
                  a(href='/candidate/settings') settings 
                li
                  a(href='/logout')  logout
              
              else if account === 'employer'
                li
                  a(href='/employer/dashboard' class= current=='dashboard' ? 'current' : '') dashboard 
                li
                  a(href='/employer/jobs/create' class= current=='post a job' ? 'current' : '') post a job 
                //- li
                //-   a(href='/employers/jobs') job posts 
                li
                  a(href='/employer/profile' class= current=='profile' ? 'current' : '') profile 
                li
                  a(href='') subscription 
                li
                  a(href='/logout') logout
              
              else if account === 'admin'
                li
                  a(href='') dashboard 
                li
                  a(href='') profile 
                li
                  a(href='') candidates 
                li
                  a(href='') interns 
                li
                  a(href='') employers 
                li
                  a(href='') logout


  // main content
  div(class=`inner-top ${page ? page : 'dashboard'}`)
    .p-heavy-breather
      .container
        +flashMessages()
        
        block content

  // footer
  footer#footer.white-bg.m-heavy-top-breather.p-heavy-breather
    div
      .footer-top
        .container
          .row
            .col-sm-4
              .footer-bx.nwslttr
                h4.hdln Newsletter
                div
                  p
                    | Subscribe to jobConnect newsletter to be the first to know about current recruitment solution,
                    | Latest articles, Jobs / Vacancies updates.
                  form.m-light-top-breather(action='' method='post')
                    .form-group
                      input.form-control(type='text' name='email' placeholder='Enter Your Email Address')
                    .form-group
                      input.btn.main-btn.form-control(type='submit' name='submit' value='Submit')
            .col-sm-4
              .footer-bx
                h4.hdln Important Pages
                ul.no-left-padding
                  li
                    a(href='#') About Us
                  li
                    a(href='#') Recruiting Services
                  li
                    a(href='#') Resume Access Packages
                  li
                    a(href='#') Terms and Conditions
                  li
                    a(href='#') Contact Us
                  li
                    a(href='/register/') Register
            .col-sm-4
              .footer-bx
                h4.hdln Contact Us
                div
                  address
                    span
                      | Our Address 
                      br
                      b jobConnect.
                      br
                      | 3, Ogunlesi Street, Off Awoyokun,
                      |                         Onipanu, Lagos
                      br
                      | +234 7037555895,
                      br
                      |                         info@jobConnect.com
                  #social
                    ul.social-links.clearfix
                      li.facebook
                        a(href='#' title='Facebook' target='_blank')
                          i.fa.fa-facebook
                      li.googleplus
                        a(href='#' title='Google+' target='_blank')
                          i.fa.fa-google-plus
                      li.twitter
                        a(href='#' title='Twitter' target='_blank')
                          i.fa.fa-twitter
                      li.youtube
                        a(href='#' title='YouTube' target='_blank')
                          i.fa.fa-youtube
                      li.linkedin
                        a(href='#' title='LinkedIN' target='_blank')
                          i.fa.fa-linkedin
                  br
  script(type='text/javascript' src='/javascripts/jquery-1.11.2.min.js')
  script(type='text/javascript' src='/javascripts/bootstrap.min.js')
  script(type='text/javascript' src='/javascripts/project.js')
  //- script(type='text/javascript' src='/javascripts/profile.js')
  script(type='text/javascript' src='/javascripts/settings.js')

  block scripts
